@font-face {
	font-family: "Fira Mono Regular";
	src: url("/public/fonts/FiraMono-Regular.otf");
}

@font-face {
	font-family: "Fira Mono Medium";
	src: url("/public/fonts/FiraMono-Medium.otf");
}

@font-face {
	font-family: "Fira Mono Bold";
	src: url("/public/fonts/FiraMono-Bold.otf");
}

html,
body {
	font-family: "Fira Mono Regular";
	margin: 0;
	overflow-x: hidden;
}

.MenuBar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.7vh;
	font-size: 3vmax;
}

.MenuBarTitle {
	width: max-content;
	height: fit-content;
	margin-left: 4vw;
}

.MenuButton {
	display: flex;
	flex-direction: column;
	width: 4.5vmax;
	height: 4.5vmax;
	align-items: flex-start;
	justify-content: space-evenly;
}

.MenuButton div {
	background-color: #3366FE;
	box-shadow: -4px 4px 4px rgba(0, 75, 204, 0.50);
	height: 0.6vmax;
	width: 1.5vmax;
}

.MenuButton div:nth-child(1) {
	width: 4.5vmax;
}

.MenuButton div:nth-child(2) {
	width: 3vmax;
}

.SideMenu {
	z-index: 5;
	position: absolute;
	top: 5.9vh;
	left: -110vw;
	width: 100vw;
	height: 94.1vh;
	display: flex;
	transition: 200ms;
	flex-direction: column;
	align-items: center;
	box-shadow: 2vw 2vh 5vmax rgba(0, 0, 0, 0.5);
}

.SideMenu div {
	text-align: center;
	width: 60vw;
	height: max-content;
	border-radius: 1vmax;
	padding: 1vmax;
	font-size: 2vmax;
	text-shadow: none;
	box-shadow: 0 3px 1vmax rgba(0, 0, 0, 0.25);
}

.SideMenuElement {
	border-radius: 1vmax;
	margin-top: 2vh;
}

.App {
	width: 100vw;
	min-height: calc(98.6vh - 4.5vmax);
	display: flex;
	align-items: center;
	justify-content: center;
}

.Menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 80vw;
	height: max-content;
}

.MenuError {
	font-family: 'Fira Mono Medium';
	text-align: center;
	padding: 1vmax;
	margin-bottom: 50vh;
}

.MenuTitle {
	font-family: 'Fira Mono Medium';
	text-align: center;
	padding: 1vmax;
}

.MenuRate {
	margin-bottom: 2vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Stars {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Star {
	width: 10vw;
	height: 10vw;
	padding: 2vw;
}

.SendButton {
	background-color: #D9D9D9;
	padding: 5vw 5vh;
	border-radius: 2vmax;
	font-size: 2.5vmax;
	font-family: 'Fira Mono Medium';
}

.Sent {
	font-family: 'Fira Mono Medium';
}

.Dish {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2vmax;
	padding: 1vmax;
	margin-bottom: 2vmax;
	border: 0.5vmax solid #B3B3B3;
	background-color: #D9D9D9;
	white-space: pre-line;
}

.MenuDishs {
	display: flex;
	flex-direction: column;
	width: 80vw;
	justify-content: flex-start;
}

.DishTitle {
	font-family: 'Fira Mono Medium';
}

.DishContent {
	text-align: center;
}

.mySwiper {
	width: 80vw;
	align-self: flex-start;
	height: max-content;
	margin-top: 5vh;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2vw;
	width: max-content;
	height: max-content;
	border-radius: 2vmax;
	background-color: #B3B3B3;
}

a {
	text-decoration: none;
}

.Contact {
	width: 80vw;
	align-self: flex-start;
	margin-top: 5vh;
}

.Settings {
	align-self: flex-start;
	margin-top: 5vh;
}

.Setting {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60vw;
	height: 4vmax;
	border-radius: 1vmax;
	padding: 1vmax;
	font-size: 2vmax;
	text-shadow: none;
	background-color: #B3B3B3;
	margin-top: 1vh;
	box-shadow: 0 3px 1vmax rgba(0, 0, 0, 0.25);
}

.check {
	border-radius: 1vmax;
	height: 4vmax;
	width: 4vmax;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.motivation-title {
	font-size: 3vmax;
}

.motivation {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1vmax;
}

.MenuWaiting {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80vw;
	height: max-content;
	border-radius: 2vmax;
	background-color: #B3B3B3;
	align-self: flex-start;
	margin-top: 5vh;
}

.WaitingError {
	font-family: 'Fira Mono Medium';
	text-align: center;
	padding: 0 1vw;
	margin: 10vh 0;
}